body{
    background-color:rgb(0,153,102);
}

.hovers{
    line-height: 30px;
    font-size: 1.2em;
}

.hovers:hover, #__menu_edit__:hover{
    color: white;
    cursor: pointer;    
}

#__menu_edit__{
    height: 30px;
    background-color: black;
    color: #aaa;
}

.__menu_accounts__{
    color:green;
}

.__logout__{
    color: #009494;
}

.__quit__{
    color: red;
}

a:hover{
    cursor:pointer;
}

#results_div{
    max-height: 400px;
    overflow: auto;
}

.delete_row{
    height: 25px;
    border: 0px;
    line-height: 25px;
    color: red;
    text-align : center;
    border-radius : 5px;
    text-indent: -2px;
    
    font-weight: bold;

}

.map{
    width:100%; 
    height:400px; 
    border:1px solid black;
}