body{
    background-color:#1f1212;
}

#logo{
    transition: opacity 1s ease-out;
    -moz-transition: opacity 1s ease-out;
    -webkit-transition: opacity 1s ease-out;
    -o-transition: opacity 1s ease-out;
}

#logo_div{
    width: 100%;
    
/*
    border: 1px solid #bbb;
*/
}

p{color:#1f1212;}

#powered_by{
    margin-top: 25%;
}

@media screen and (min-device-aspect-ratio: 1/1) and (orientation: landscape) {
    $logo_div, form{
        position: relative;
        top: 20%;
    }
    form{
        position: relative;
        max-width: 30%;
        left: 35%;
    }
    
    #powered_by{
        margin-top: 70%;
    }
}

.i{
    border: 0px;
    border-radius: 5px;
}

.hover{
    cursor: pointer;
}