body {
    /*let font-size of all elements in body by 100% of the default
      this way, we can specify any other font in the body relative to this ie using the "em" units
      eg 1.5em = 150% of the body font-size. Its easier and much better to control fonts this way
    */
    font-size:100%;

    position:absolute;
    top:0px; left:0px;

/*    width:99%; height:100%;
*/
    margin:auto;

    background-color:rgb(0,153,102);

/*    border:1px solid;
    border-color:#ff0000;
*/}

/*bars(menubar, bottom(submit) bar)*/
.bars {
    width:100%;
    height:6%;
    
    margin:auto;
    
/*    border:1px solid;
    border-color:#ffff00;
*/
}

/*menu*/
#menu {
    /*keep menu fixed(dont scroll it when you scroll the page)*/
    position:fixed;
    top:0px; left:0px;
    background-color:#000000;
    
    height:4.5%;
}

.menu_item {
    position:fixed;
    top:0px;
    
    font-size:1.2em;
    text-align:center;

    margin:auto;
    
    border-left:1px solid;
    border-left-color:#666666;
}

#quit {
    border:0px;
    width:30%;
    left:0px;
    color:#bb0000;
}
#logout {
    width:30%;
    left:30%;
    color:#009494;
}
#my_account {
    width:40%;
    left:60%;
    color:#00bb00;
}


.round_corners {
    /*create rounded corners*/
    border:1px solid;
    border-radius:20px;
    text-indent:5px;
    
    /*create gradient bg*/
    background: #009494; /*just in case the browser daint support gradients*/
    background: linear-gradient(to right, #333333, #009494); /*attempt gradient bg*/
    color:#ffffff;
        
    font-size:1em;

    border:1px solid;
}
.black {
    background: linear-gradient(to right, #000000, #333333); /*attempt gradient bg*/
    text-indent:5px;
    color:#ffffff;
}
.red {
    background: linear-gradient(to right, #660000, #dd0000); /*attempt gradient bg*/
    text-indent:5px;
    color:#ffffff;
}
.green {
    background: linear-gradient(to right, #006600, #00dd00); /*attempt gradient bg*/
    text-indent:5px;
    color:#ffffff;
}

.section_heading {
    font-size:1.3em;
    /*font-weight:bold;

    border:1px solid;*/
}

.pabsolute {position:absolute;}

#facility_label {
    top:6%;
    left:1%;
    
    width:30%;
    height:5%;
}

#facility {
    top:5%;
    left:30%;
    
    width:68%;
    height:6%;
}

#activities_label {
    top:14%;
    left:1%;
    
    width:40%;
    height:5%;
}

#activities{
    top:14%;
    left:40%;
    
    width:59%;
    height:6%;
    
    font-size:.8em;
    border-radius:5px;
}

#engaged_personnel_label {
    top:23%;
    left:1%;
    
    width:75%;
    height:5%;
}

#engaged_personnel {
    top:22.5%;
    left:76%;
    
    width:21%;
    height:6%;
    
    font-size: .9em;
}

#duration_label {
    top:31%;
    left:1%;
    
    width:30%;
    height:5%;
}

#hours {
    top:31%;
    left:45%;
    
    width:26%;
    height:6%;
}

#mins {
    top:31%;
    left:74%;
    
    width:25%;
    height:6%;
}

#engagement_status_label {
    top:39%;
    left:1%;
    
    width:50%;
    height:5%;
}

#engagement_status {
    top:39%;
    left:50%;
    
    width:50%;
    height:6%;
}

#issues_arising {
    top:47%;
    left:1%;
    
    width:97%;
    height:15%;
    
    border-radius:5px;
}

#performance_against_target {
    top:65%;
    left:1%;
    
    width:97%;
    height:10%;
    
    border-radius:5px;
}

#remark {
    top:78%;
    left:1%;
    
    width:97%;
    height:15%;
    
    border-radius:5px;
}

#send_report {
    top:96%;
    left:25%;
    
    width:50%;
    height:7%;
}



